data/

checkpoints/interim/

wandb/

# Ignore Python cache files
__pycache__/

.ipynb_checkpoints/
*/.ipynb_checkpoints/

dist/

# Stop tracking the specific folders of images
git rm -r --cached notebooks/samples/
git rm -r --cached notebooks/weights_visualization/

# Stop tracking the specific images in the root images folder (if they were tracked)
git rm -r --cached images/

.virtual_documents/

datasets/
checkpoints/
outputs/
*.sh

image/
err/
out/
images/*
images/overfitting_fake_fts_processed/*
figures/
tables/

jobs/
replication/
jobs_launcher.py
.claude/

tea_debug.log
compare_tickers.py
jobs_launcher_martusia.py
csv_to_parquet.py
*.onnx