data/

checkpoints/interim/

wandb/

# Ignore Python cache files
__pycache__/

.ipynb_checkpoints/
*/.ipynb_checkpoints/

dist/

# Stop tracking the specific folders of images
git rm -r --cached notebooks/samples/
git rm -r --cached notebooks/weights_visualization/

# Stop tracking the specific images in the root images folder (if they were tracked)
git rm -r --cached images/

.virtual_documents/

datasets/
checkpoints/
outputs/
*.sh
*.tar
*.gz

err/
out/
images/
jobs/
replication/
garch_parameters/

#specific files
jobs_launcher.py
run_diagnostics_locally.py

#claude
.claude/

tea_debug.log